<article>
    <h3>Terms And Conditions</h3>
    <section>
        <p>
            By reading even the first few words of this declaration, you are agreeing in perpetuity and on behalf of your descendants to the following conditions:
        </p>
        <ol>
            <li>That wou will click on no links without first pinching your nose and whispering 'I do believe in fairies' three times.</li>
            <li>That the first living creature you encounter when you arrive home this evening will be sent, within five days, on a round-the-world cruise in a starboard cabin.</li>
            <li>That you will ignore the third item in any numbered list you find on the site.</li>
            <li>That you will subscribe to <a href="https://www.youtube.com/c/CodingTutorialsAreGo">Coding Tutorials</a> on YouTube.</li>
        </ol>
        <p>
            Any infringment of this agreement will mean that all your possesions and future possesions (with the exception of any Curly Wurlies purchased on or after 25<sup>th</sup> January 1955) 
            will be forfit and become the property of Microsoft Inc and will be transported to their headquarters in Seattle at your expense.
        </p>
        <p>
            All hail the Hypnotoad.
        </p>
    </section>
</article>

